.u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 171px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 608px;
}

.u-section-2 .u-table-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

.u-section-2 .u-table-cell-10 {
  margin-bottom: 0;
}

.u-section-2 .u-form-1 {
  height: 130px;
  margin: -130px 22px 60px 968px;
}

.u-section-2 .u-form-group-1 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 35px;
  padding-right: 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-form-1 {
    margin-right: 0;
    margin-left: 790px;
    width: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-form-1 {
    margin-left: 570px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    margin-left: 390px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    margin-left: 190px;
  }
}.acceptr.select {
	padding-top= 10px;
	padding-bottom= 10px;
}