 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 171px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 464px;
}

.u-section-2 .u-table-1 {
  margin: 42px auto 42px 0;
}

.u-section-2 .u-table-entity-1 {
  min-height: 100px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
}