 .u-section-1 {
  background-image: linear-gradient(white, #e5e5e5);
}

.u-section-1 .u-sheet-1 {
  min-height: 171px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 26px auto 0;
}

.u-section-1 .u-text-2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 633px;
}

.u-section-2 .u-group-1 {
  width: 584px;
  min-height: 514px;
  margin: 60px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-2 .u-form-1 {
  margin: 30px 0 0;
}

.u-section-2 .u-btn-1 {
  width: 50%;
  padding: 10px 31px 10px 29px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    text-decoration: none solid rgb(102, 102, 102);
  }

  .u-section-2 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }
}